<h1>All Holidays</h1>

<% @holidays.each do |holiday| %>
  <ul>
    <li><%= link_to holiday.title, holiday %></li>
    <li><%= holiday.user.name %></li>
        <li>
    <% if holiday.photos.first.present? %>

        <img src="<%= holiday.photos.first.image_url %>" alt="first photo of the holiday">
      <% else %>
        "photos not uploaded"
      <% end %>
    </li>
    <li>created at
      <%= holiday.created_at %></li>
  </ul>
<% end %>
